body {
  margin: 0;
}

.menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contents {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.contents > * {
  flex: 1;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation: portrait) {
  .contents {
    display: unset;
  }

  .menu {
    flex-direction: column;
  }

  .buttons {
    flex-direction: row;
    gap: unset;
    align-items: unset;
    justify-content: space-between;
  }
}